<!-- BEGIN releases -->

    <h2>{L_DOWNLOAD_PHPBB} {releases.NAME}</h2>

    <!-- BEGIN releases.versions -->
    <!-- BEGIN releases.versions.downloads -->
    <div class="download color_6">
        <h2>{L_FULL_PACKAGE}</h2>
        <div>
            <a href="{releases.versions.downloads.U_DOWNLOAD}">{releases.versions.downloads.NAME}</a>
            <br />
            <small class="small_left">{releases.versions.RELEASED_AT}</small>
            <small class="small_right">&nbsp;</small>
        </div>
    </div>
    <!-- END releases.versions.downloads -->
    <!-- END releases.versions -->

<!-- END releases -->
