<!-- INCLUDECSS @paul999_downloadpage/page.css -->
<!-- INCLUDE overall_header.html -->

<div class="double">
    <div class="download_heading_img heading_img">
        <h1>{L_DOWNLOADS}</h1>
    </div>
{L_PHPBB_FREE_IN_USE}
</div>
<!-- BEGIN releases -->
    <div class="left">
        <h2>{L_DOWNLOAD_PHPBB} {releases.NAME}</h2>

        <!-- BEGIN releases.versions -->
            <!-- BEGIN releases.versions.downloads -->
                <!-- IF releases.versions.downloads.S_FULL_PACKAGE -->
                    <!-- IF releases.versions.S_FIRST_ROW -->
                        <div class="download color_6">
                            <h2>{L_FULL_PACKAGE}</h2>
                            <p>
                                <a href="{releases.versions.downloads.U_DOWNLOAD}">{releases.versions.downloads.NAME}</a>
                                <small class="small_left">{releases.versions.RELEASED_AT}</small>
                                <small class="small_right">&nbsp;</small>
                            </p>
                        </div>
                        <p class="download_small">{L_USE_NEW_INSTALLATION}
                            Gebruik dit pakket voor een nieuwe installatie.
                            <br>
                            <br>
                        </p>
                        <!-- IF !releases.versions.S_LAST_ROW -->
                            <h2>{L_PREVIOUS_VERSIONS}</h2>
                            <ul>
                        <!-- ENDIF -->
                    <!-- ELSE -->
                        <li><a href="{releaeses.versions.downloads.U_DOWNLOAD}">{releases.versions.downloads.NAME}</a></li>
                    <!-- ENDIF -->

                    <!-- IF !releases.versions.S_FIRST_ROW and releases.versions.S_LAST_ROW -->
                        </ul>
                    <!-- ENDIF -->
                <!-- ENDIF -->
            <!-- END releases.versions.downloads -->
        <!-- END releases.versions -->
    </div>
<!-- END releases -->

<!-- INCLUDE overall_footer.html -->